<h1>Add a Firearm</h1>
  <form action="/firearms" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required=""><br>
    <label for="round_count">Round Count: </label><br>
    <input type="text" id="round_count" name="round_count" required><br>
    <input class="btn btn-primary" type="submit" value="Add Firearm">
  </form>
