<% if logged_in? %>
<div class="container">
  <div class="row">
    <blockquote class="blockquote">
      <label for="firearm"><h3>Firearm:</h3></label><br>
      <%= @firearm.name %> <br><br>
      <label for="round_count"><h3>Barrel Round Count:</h3></label><br>
      <%= @firearm.round_count %> <br><br>
    </blockquote>
  </div>
  <div class="row">
    <% if @firear.user_id == current_user.id %>
    <div class="col-2">
      <a class="btn btn-outline-warning btn-sm" href="/firearms/<%= @firearm.id %>/edit">Edit Firearm</a>
    </div>
    <div class="col-2">
      <form action="/firearms/<%= @firearm.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <input class="btn btn-outline-danger btn-sm" type="submit" value="Delete Firearm">
      </form>
    </div>
    <% end %>
    <% end %>
    <div class="col-2">
      <a class="btn btn-outline-success btn-sm" href="/firearms/new">Add Firearm</a>
    </div>
  </div>
</div>
