<div class="row">
  <img class="img-fluid rounded mx-auto d-block" src="/images/down-the-barrel.jpg" alt="">
</div>
<div class="row">
  <div class="col-12"><p>DownTheTu.be is a place to track the number of rounds that have been fired from any rifle you own. It's a very simple solution and eliminates the need to keep written notes.</p>
  <% if !logged_in? %>
  <p>Simply create and account and start tracking the number of rounds DownTheTu.be!</p>
  <p>Please Login or create a new account!</p>
<% end %>
</div>
</div>
